In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from scipy.stats import linregress
from pprint import pprint
import datetime
import time

In [2]:
# Preview data
youtube_df = pd.read_csv("youtube_video_data.csv")
youtube_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [3]:
publish_time = "2017-11-13T17:13:01.000Z"
datetime.datetime.strptime(publish_time[:10], "%Y-%m-%d").strftime('%a')
# datetime.datetime.strptime(publish_time[:10], "%Y-%m-%d").strftime('%m/%d/%Y')
# time[11:19]

'Mon'

In [4]:
# Create new columns
youtube_df["publish_dow"] = ""
youtube_df["publish_date"] = ""
youtube_df["publish_mhs"] = ""
youtube_df["trending year"] = ""

In [5]:
# Decompose publish_time column

def DayOfWeek(time):
    #time format should be '2017-11-13'
    return datetime.datetime.strptime(time[:10], "%Y-%m-%d").strftime('%a')

def PublishDate(time): 
    return datetime.datetime.strptime(time[:10], "%Y-%m-%d").strftime('%m/%d/%Y')

def PublishTime(time):
    return time[11:19]


for index, row in youtube_df.iterrows():      
    # Get date at each row
    publish_time = row["publish_time"]
    youtube_df.loc[index, "publish_dow"] = DayOfWeek(publish_time)
    youtube_df.loc[index, "publish_date"]= PublishDate(publish_time)
    youtube_df.loc[index, "publish_mhs"]= PublishTime(publish_time)

youtube_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_dow,publish_date,publish_mhs,trending year
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,Mon,11/13/2017,17:13:01,
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",Mon,11/13/2017,07:30:00,
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,Sun,11/12/2017,19:05:24,
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,Mon,11/13/2017,11:00:04,
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Sun,11/12/2017,18:01:41,

In [6]:
# Change trending date format 
def convert(time): 
    return datetime.datetime.strptime(time, '%y.%d.%m').strftime('%m/%d/%y')

def TrendYear(time): 
    return datetime.datetime.strptime(time, '%y.%d.%m').strftime('%Y')

for index, row in youtube_df.iterrows():      
    # Get date at each row
    trend_date = row["trending_date"]
    #trend_date format %y.%d.%m
    formatted_date = convert(trend_date)
    #formatted date = %m/%d/%y
    youtube_df.loc[index, "trending year"]= TrendYear(trend_date)
    youtube_df.loc[index, "trending_date"]= formatted_date

In [7]:
youtube_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_dow,publish_date,publish_mhs,trending year
0,2kyS6SvSYSE,11/14/17,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,Mon,11/13/2017,17:13:01,2017
1,1ZAPwfrtAFY,11/14/17,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",Mon,11/13/2017,07:30:00,2017
2,5qpjK5DgCt4,11/14/17,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,Sun,11/12/2017,19:05:24,2017
3,puqaWrEC7tY,11/14/17,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,Mon,11/13/2017,11:00:04,2017
4,d380meD0W0M,11/14/17,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,Sun,11/12/2017,18:01:41,2017

In [8]:
# Remove publish_time column
del youtube_df['publish_time']

In [9]:
# Filter down to 2018 data
youtube_2018 = youtube_df.loc[(youtube_df['trending year'] == '2018'),:]

In [10]:
# Export data to CSV
youtube_2018.to_csv("output/youtube2018.csv")

In [11]:
# describe 2018 data
youtube_2018.describe()

        category_id         views         likes      dislikes  comment_count
count  31349.000000  3.134900e+04  3.134900e+04  3.134900e+04   3.134900e+04
mean      19.974959  2.686777e+06  8.245072e+04  3.922386e+03   9.255513e+03
std        7.570850  7.921209e+06  2.433361e+05  2.516193e+04   3.932741e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  3.173550e+05  7.268000e+03  2.630000e+02   7.700000e+02
50%       24.000000  8.289090e+05  2.149700e+04  7.540000e+02   2.193000e+03
75%       25.000000  2.121136e+06  6.393900e+04  2.260000e+03   6.710000e+03
max       43.000000  2.252119e+08  5.613827e+06  1.674420e+06   1.361580e+06

In [23]:
# Top 20 channels
youtube_2018["channel_title"].value_counts().head(20)

ESPN                                      158
TheEllenShow                              155
Jimmy Kimmel Live                         154
The Tonight Show Starring Jimmy Fallon    150
The Late Show with Stephen Colbert        150
Netflix                                   148
Vox                                       145
CNN                                       144
TED-Ed                                    142
NBA                                       137
Screen Junkies                            136
BuzzFeedVideo                             136
Late Night with Seth Meyers               135
Saturday Night Live                       131
WIRED                                     130
HellthyJunkFood                           129
INSIDER                                   128
Tasty                                     125
Bon Appétit                               124
The Late Late Show with James Corden      124
Name: channel_title, dtype: int64

In [12]:
#Using median as measure of central tendency due to distribution of data
print(f"Median Views: {int(youtube_2018['views'].median())}")
print(f"Median Likes: {int(youtube_2018['likes'].median())}")
print(f"Median Dislikes: {int(youtube_2018['dislikes'].median())}")
print(f"Median Comment Count: {int(youtube_2018['comment_count'].median())}")

Median Views: 828909
Median Likes: 21497
Median Dislikes: 754
Median Comment Count: 2193

In [13]:
youtube_2018['publish_dow'].value_counts()

Thu    5577
Fri    5436
Wed    4933
Tue    4919
Mon    4732
Sun    3050
Sat    2702
Name: publish_dow, dtype: int64

In [28]:
# Create function to count number of tags
def TagCount(text): 
    return len(text.split('|'))

In [29]:
# Calculate the number of tags per video and add to DF
youtube_2018["tag_num"] = ""

for index, row in youtube_2018.iterrows():      
    # Get date at each row
    tags = row["tags"]
    youtube_2018.loc[index, "tag_num"]= TagCount(tags)

youtube_2018.head()

/Users/hannahwang/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/hannahwang/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,video_id,trending_date,title,channel_title,category_id,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_dow,publish_date,publish_mhs,trending year,tag_num
9600,x4TZEVqKIvs,01/01/18,Film Theory: Disney LIED to You! (High School ...,The Film Theorists,1,"high school musical|""disney""|""high school musi...",2993235,135820,6207,19539,https://i.ytimg.com/vi/x4TZEVqKIvs/default.jpg,False,False,False,SUBSCRIBE for More Film Theories! ► http://bit...,Sat,12/30/2017,20:15:11,2018,22
9601,PjqKPHZJgF0,01/01/18,Lil Wayne - Family Feud feat. Drake (Official ...,Lil Wayne,10,"lil wayne|""weezy""|""weezy wednesday""|""wayne car...",3266020,97709,4748,14172,https://i.ytimg.com/vi/PjqKPHZJgF0/default.jpg,False,False,False,"Family Feud by Lil Wayne feat. Drake, off the ...",Fri,12/29/2017,22:59:01,2018,31
9602,O6BODAJVYc8,01/01/18,"2017, in 7 minutes",Vox,25,"vox.com|""vox""|""explain""|""year in review""|""2017...",1565942,69361,13150,18227,https://i.ytimg.com/vi/O6BODAJVYc8/default.jpg,False,False,False,"In a tumultuous 2017, these are some of the st...",Sat,12/30/2017,13:00:04,2018,12
9603,mDRifR9HdK8,01/01/18,Best Pet Videos of the Year 2017!,The Pet Collective,15,"the pet collective|""pet collective""|""the pet c...",277046,6878,265,389,https://i.ytimg.com/vi/mDRifR9HdK8/default.jpg,False,False,False,2017 has been quite the year and I don't know ...,Sat,12/30/2017,14:00:04,2018,26
9604,HqwVFXyCfOI,01/01/18,Best of Hevesh5 (8),Hevesh5,24,"domino|""dominos""|""dominoes""|""best of hevesh5""|...",630580,7512,451,562,https://i.ytimg.com/vi/HqwVFXyCfOI/default.jpg,False,False,False,Here is the 8th Best of Hevesh5 compilation fe...,Sat,12/30/2017,18:00:01,2018,30

In [32]:
# Total the counts of tags
youtube_2018['tag_num'].value_counts().head(10)

1     1460
10    1155
4     1066
24    1042
25    1039
7     1027
30     947
13     933
27     896
9      895
Name: tag_num, dtype: int64

In [49]:
# Get total count per catefory and create DF
top5_categories = pd.DataFrame(youtube_2018['category_id'].value_counts())

top5_categories["id"] = ''
for index, row in top5_categories.iterrows():      
    top5_categories.loc[index, "id"] = index

top5_categories = top5_categories.sort_values(by=['id'])
top5_categories.head()

    category_id  id
1          1811   1
2           279   2
10         4909  10
15          737  15
17         1701  17

In [50]:
# import category list from YouTube API as DF
category_list = pd.read_csv("output/YouTube_Categories.csv")
del category_list["Unnamed: 0"]
category_list = category_list.sort_values(by=['id'])
category_list.head()

   id          category
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

In [57]:
# merge df into one df
merged_category = pd.merge(top5_categories, category_list, on="id", how="left")
sorted_category = merged_category.sort_values(by=['category_id'], ascending=False)
sorted_category.rename(columns = {'category_id':'category_counts'}, inplace = True)
sorted_category = sorted_category[["id", "category","category_counts"]]
sorted_category.head()

    id        category  category_counts
9   24   Entertainment             7625
2   10           Music             4909
11  26   Howto & Style             3267
8   23          Comedy             2563
7   22  People & Blogs             2445